.composition {
  position: relative;

  @include respond(phone) {
    // width < 900?
    margin-top: 5rem;
    padding-bottom: 5rem;
  }
  @include respond(tab-port) {
    // width < 900?
    margin-top: 5rem;
    padding-bottom: 10rem;
  }

  &_photo {
    position: absolute;
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    // border-radius: 2px;
    z-index: 9;
    transition: all 0.2s;
    outline-offset: 1rem;

    @include respond(tab-land) {
      width: 45%;
    }

    &--p1 {
      left: 0;
      top: -2rem;

      @include respond(tab-land) {
        top: -3rem;
      }
    }
    &--p2 {
      right: 0;
      top: 2rem;

      @include respond(tab-land) {
        top: -2rem;
      }
    }
    &--p3 {
      left: 20%;
      top: 10rem;

      @include respond(tab-land) {
        left: 25%;
        top: -1rem;
      }
    }

    &:hover {
      transform: scale(1.05);
      transition: all 0.2s;
      z-index: 99;
      outline: 1.5rem solid $color-primary;
    }
  }
  &:hover &_photo:not(:hover) {
    transform: scale(0.9);
  }
}
