/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;

  @include respond(phone) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }
}
body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-style: 1.6rem;
  line-height: 1.7;
  box-sizing: border-box;
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}
